!!! 5
html
  head
    title navigator.id.get() example
    link(rel='stylesheet', href='style.css')
    script(src='https://login.persona.org/include.js')
    script.
      document.addEventListener("DOMContentLoaded", function() {

        document.querySelector("#login").addEventListener("click", function() {
          navigator.id.get(function(assertion) {
            if (!assertion) {
              return;
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/persona/verify", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.addEventListener("loadend", function(e) {
              var data = JSON.parse(this.responseText);
              if (data && data.status === "okay") {
                window.location.reload();
              }
            }, false);

            xhr.send(JSON.stringify({
              assertion: assertion
            }));
          });

        }, false);

        document.querySelector("#logout").addEventListener("click", function() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/logout", true);
          
          xhr.addEventListener("loadend", function(e) {
            window.location.reload();
          });

          xhr.send();
        }, false);

      }, false);

  body
    h1 Using navigator.id.get()
    p
      | Current user is: 
      span#user 
        if email
          | #{email}
        else 
          | Not logged in.

    if email    
      button#login(disabled='disabled') Login
      button#logout Logout
    else
      button#login Login
      button#logout(disabled='disabled') Logout

    p
      | Back to 
      a(href='..') examples
