!!! 5
html
  head
    title express-persona examples
    link(rel='stylesheet', href='style.css')
  body
    h1 express-persona examples
    p
      | Here are some working examples of Persona integration.
      | If you have any you'd like to add, please file a pull request!
    ul
      li
        | Using
        a(href='get') navigator.id.get()
      li
        | Using
        a(href='watch') navigator.id.watch()
